div#wrapper {
    position: absolute;
    top: 50%;
    height: 360px;
    margin-top: -190px;
}

div#login-screen {
    width: 555px;
    margin: 20px auto;
    padding: 25px;
    position: relative;
}

form.login-form {
    width: 360px;
    background-color: #34495e !important;
    margin-left: 135px;
}

form.login-form:before {
    border-color: transparent #34495e transparent transparent !important;
}

div.login-icon {
    float: left;
    position: relative !important;
    left: 0;
    top: 0;
}

div.login-icon > img {
    max-width: 100px;
    max-height: 100px;
}

form.login-form:after {
    clear: both;
}

div.alert p {
    margin: 5px 0 0 0;
}